@import "~src/assets/scss/import-files";
.search-user {
    flex-wrap: nowrap;
    &__control {
        font-size: $font-size;
        padding: $form-control-padding;
        &.-error {
            border-color: $brand-color-warning;
        }
    }
}