$brand-color-primary: #127fab;
$brand-color-secondary: #458314;
$brand-color-dark: #37454d;
$brand-color-gray: #dcdcdc;
$brand-color-soft: #ebeced;
$color-white: #FFF;
$logo-height: 50px;
$font-size: 0.8rem;
$form-control-padding: 0.55rem 0.75rem;