$brand-color-primary: #127fab;
$brand-color-primary-soft: #81bfd5;
$brand-color-secondary: #458314;
$brand-color-secondary-soft: #a0c182;
$brand-color-warning: #c74b36;
$brand-color-warning-soft: #f28e24;
$brand-color-dark: #37454d;
$brand-color-gray: #9ba8a6;
$brand-color-soft: #ebeced;
$color-white: #FFF;
$logo-height: 50px;