@import "../../../assets/scss/import-files";
.main-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    min-height: 64px;
    background-color: $color-white;
    padding: 10px;
    @include box-shadow(1px 1px 1px darken($brand-color-soft, 10%));
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__main-logo {
        float: left;
        margin-right: 20px;
    }
    &__logo {
        max-height: $logo-height;
        &.-sm {
            display: none;
        }
    }
}

@include media-breakpoint-down(lg) {
    .main-header {
        &__logo {
            display: none;
            &.-sm {
                display: block;
            }
        }
    }
}